.root {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  border: none;
  border-radius: 0;
  outline: none;
  outline: 0;
  box-shadow: none;

  &.disabled {
    opacity: 0.5;
  }

  &:-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: inherit;
  }

  &:-moz-placeholder { /* Firefox 19+ */
    color: inherit;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: inherit;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: inherit;
  }

  &:invalid {
    outline: 0;
  }

  &:-webkit-autofill {
    background-color: #FFF !important;
    background-image: none !important;
    box-shadow: 0 0 0px 1000px #FFF inset;
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
    -webkit-text-fill-color: #000 !important;
  }

  // .inputTag:-internal-autofill-selected {
  //   color: #000;
  // }
}