/* @import "tailwindcss" important; */
@import "tailwindcss";

:root {
  /* --cst-color:  #2f961f; */
  /* --cst-color:  var(--color-fuchsia-800); */
  --cst-color:  #a00876;

  --foreground: var(--cst-color);
  --background: white;
}

.dark {
}

@theme {
  /* --color-fuchsia-800: var(--cst-color); */
}

/* ::: shadcn / Radix */
/*
@theme inline {
}
*/
