@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --cst-color-code: #bbbbbb;
  --cst-color-code-bg: #f5f5f5;
}

code {
  color: var(--cst-color-code);
  font-size: 12px;
  /* background-color: var(--cst-color-code-bg); */
}