// @import '../../../css/globals.scss';

.root {
  position: relative;
  overflow-x: hidden;
  // max-width: var(--maxWidthDesktop);
  margin: 0 auto;
  padding-top: 100px;

  .main {
    position: relative;
    padding: 20px;
  }
}
